<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions] = "{exact:true}" routerLinkActive="active" routerLink="/">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/rent-property">Rent</a>
        </li>
        <li>
          <a class="nav-link" routerLinkActive="active" routerLink="/add-property">List Property(Free)</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <div>
        <ul class="nav navbar-nav">
          <li *ngIf="!loggedIn()"class="nav-item">
            <a routerLink="user/register" routerLinkActive="active" class="nav-link">Register</a>
          </li>
          <li *ngIf="!loggedIn()" class="nav-item">
            <a routerLink="user/login" routerLinkActive="active" class="nav-link">Login</a>
          </li>
          <!-- <li *ngIf="loggedIn()" class="nav-item">
            <a routerLinkActive="active" class="nav-link" (click)="onLogout()">Logout</a>
          </li> -->
          <!-- <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
            <a href id="basic-link" dropdownToggle (click)="false"
               aria-controls="basic-link-dropdown">Click me for a dropdown, yo!</a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="basic-link">
              <li *ngFor="let choice of items">
                <a class="dropdown-item" href="#">{{choice}}</a>
              </li>
            </ul>
          </span> -->
          <div *ngIf="loggedIn()" class="dropdown mr-5 left-align" dropdown>
            <a href="#" class="dropdown-toggle text-dark" dropdownToggle (click)="false">
              Welcome {{loggedInUser}}
            </a>
            <div class="dropdown-menu" *dropdownMenu>
              <a href="#" class="dropdown-item">
                <i class="fas fa-tachometer-alt"></i>View Dashboard
              </a>
              <a href="#" class="dropdown-item">
                <i class="fas fa-user-circle"></i>My profile
              </a>
              <a href="#" class="dropdown-item">
                <i class="fas fa-key"></i>Change Password
              </a>
              <a (click)='onLogout()' class="dropdown-item">
                <i class="fas fa-sign-out-alt"></i>Logout
              </a>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
