.ng-invalid.ng-touched{
  color:red;
}

.error-block{
  color: red;
}

.btn-group > label[ng-reflect-btn-radio]{
  border-radius: 44px; /*radio shape to btn*/
  padding: 0 15px;
  line-height: 30px;
}
